body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-13px;
  width:814px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:46px;
  width:814px;
  height:218px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:0px;
  width:520px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:0px;
  width:122px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:94px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:94px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:94px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:30px;
  width:92px;
  height:94px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:94px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:30px;
  width:520px;
  height:94px;
  display:flex;
  text-align:left;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:94px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:30px;
  width:122px;
  height:94px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:94px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:80px;
  height:94px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:94px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:124px;
  width:92px;
  height:94px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:94px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:124px;
  width:520px;
  height:94px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:94px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:124px;
  width:122px;
  height:94px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:282px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u13_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(201, 70, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 70, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u15 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:274px;
  width:18px;
  height:18px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:275px;
  width:38px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:275px;
  width:1px;
  height:14px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:321px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u21 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:313px;
  width:18px;
  height:18px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:314px;
  width:38px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:314px;
  width:1px;
  height:14px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:362px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u25_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u27 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:354px;
  width:18px;
  height:18px;
  display:flex;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:355px;
  width:38px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u29 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:355px;
  width:1px;
  height:14px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:402px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:34px;
  height:10px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:10px;
  height:5px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:18px;
  height:18px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:30px;
  -moz-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(21, 214, 186, 0.349019607843137);
}
#u33 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:394px;
  width:18px;
  height:18px;
  display:flex;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:395px;
  width:38px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 4px 5px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:395px;
  width:1px;
  height:14px;
  display:flex;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
